<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oya.kr.chat.mapper.ChatMessageMapper">

    <!-- @author 이상민 -->
    <!-- @since 2024.02.28-->
    <insert id="save" parameterType="com.oya.kr.chat.mapper.dto.request.CreateMessageMapperRequest">
        INSERT INTO CHAT_MESSAGE(chat_room_id, content, sender)
        VALUES(#{chatRoomId}, #{content}, #{sender})
    </insert>

    <select id="findByChatRoomId" resultType="com.oya.kr.chat.mapper.dto.response.MessageDetailMapperResponse">
        SELECT SENDER, NICKNAME, CONTENT, CM.CREATED_DATE, CM.MODIFIED_DATE, USER_TYPE
        FROM CHAT_MESSAGE CM
                 LEFT JOIN USERS U ON CM.SENDER = U.ID
        WHERE chat_room_id = #{roomId}
        ORDER BY CM.CREATED_DATE
    </select>

</mapper>
