<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oya.kr.chat.mapper.ChatRoomMapper">

    <!-- @author 이상민 -->
    <!-- @since 2024.02.28-->
    <insert id="save" parameterType="com.oya.kr.chat.mapper.dto.request.CreateChatRoomMapperRequest">
        INSERT INTO CHAT_ROOM(NAME, CREATOR)
        VALUES(#{name}, #{sender})
    </insert>

    <select id="findByAll" resultType="com.oya.kr.chat.mapper.dto.response.ChatRoomDetailMapperResponse">
        SELECT ID, NAME, CREATOR, CREATED_DATE, MODIFIED_DATE
        FROM CHAT_ROOM
        ORDER BY MODIFIED_DATE DESC
        OFFSET #{pageNo} ROWS FETCH NEXT #{amount} ROWS ONLY
    </select>

    <select id="findRoomByUser"
            parameterType="com.oya.kr.chat.mapper.dto.request.ChatRoomMapperRequest"
            resultType="com.oya.kr.chat.mapper.dto.response.ChatRoomDetailMapperResponse">
        SELECT ID, NAME, CREATOR, CREATED_DATE, MODIFIED_DATE
        FROM CHAT_ROOM
        WHERE CREATOR = #{userId}
        ORDER BY MODIFIED_DATE DESC
        OFFSET #{pageNo} ROWS FETCH NEXT #{amount} ROWS ONLY
    </select>

    <select id="findRoomById" resultType="com.oya.kr.chat.mapper.dto.response.ChatRoomDetailMapperResponse">
        SELECT ID, NAME, CREATOR, CREATED_DATE, MODIFIED_DATE
        FROM CHAT_ROOM
        WHERE ID = #{roomId}
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM CHAT_ROOM
        WHERE CREATOR = #{userId}
    </select>

    <select id="countAll" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM CHAT_ROOM
    </select>
</mapper>
