<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oya.kr.popup.mapper.PopupMapper">

    <select id="findById" parameterType="Long" resultType="popupMapperResponse">
        SELECT ID, TITLE, DESCRIPTION, PULLED_DATE, WITHDRAWAL_STATUS, PLAN_ID, CREATED_DATE, MODIFIED_DATE, DELETED
        FROM POPUP
        WHERE ID = #{popupId}
            AND DELETED = 0
    </select>

    <select id="findByIdWithDate" parameterType="Long" resultType="popupDetailMapperResponse">
        SELECT P.ID, TITLE, DESCRIPTION, PULLED_DATE, WITHDRAWAL_STATUS, PLAN_ID, null,
            PN.CATEGORY, OPEN_DATE, CLOSE_DATE
        FROM POPUP P
        JOIN PLAN PN
            ON P.PLAN_ID = PN.ID
        WHERE P.ID = #{popupId}
            AND P.DELETED = 0
    </select>

    <select id="findAllByPlanId" parameterType="Long" resultType="popupMapperResponse">
        SELECT ID, TITLE, DESCRIPTION, PULLED_DATE, WITHDRAWAL_STATUS, PLAN_ID, CREATED_DATE, MODIFIED_DATE, DELETED
        FROM POPUP
        WHERE PLAN_ID = #{planId} AND DELETED = 0
    </select>

    <select id="findAll" resultType="popupDetailMapperResponse">
        SELECT P.ID, TITLE, DESCRIPTION, PULLED_DATE, WITHDRAWAL_STATUS, PLAN_ID,
            PI.URL AS thumbnail, PN.CATEGORY,
            OPEN_DATE, CLOSE_DATE
        FROM POPUP P
        LEFT JOIN POPUP_IMAGE PI
            ON P.ID = PI.POPUP_ID
        JOIN PLAN PN
            ON P.PLAN_ID = PN.ID
        WHERE WITHDRAWAL_STATUS != #{withdrawalStatus}
            AND P.DELETED = 0
        ORDER BY PULLED_DATE DESC
    </select>

    <select id="findInProgress" resultType="popupDetailMapperResponse">
        SELECT P.ID, TITLE, DESCRIPTION, PULLED_DATE, WITHDRAWAL_STATUS, PLAN_ID,
            PI.URL, PN.CATEGORY,
            OPEN_DATE, CLOSE_DATE
        FROM POPUP P
        LEFT JOIN POPUP_IMAGE PI
            ON P.ID = PI.POPUP_ID
        JOIN PLAN PN
            ON P.PLAN_ID = PN.ID
        WHERE WITHDRAWAL_STATUS != #{withdrawalStatus}
            AND sysdate BETWEEN OPEN_DATE AND CLOSE_DATE
            AND P.DELETED = 0
        ORDER BY PULLED_DATE DESC
    </select>

    <select id="findScheduled" resultType="popupDetailMapperResponse">
        <![CDATA[
        SELECT P.ID, TITLE, DESCRIPTION, PULLED_DATE, WITHDRAWAL_STATUS, PLAN_ID,
            PI.URL, PN.CATEGORY,
            OPEN_DATE, CLOSE_DATE
        FROM POPUP P
        LEFT JOIN POPUP_IMAGE PI
            ON P.ID = PI.POPUP_ID
        JOIN PLAN PN
            ON P.PLAN_ID = PN.ID
        WHERE WITHDRAWAL_STATUS != #{withdrawalStatus}
            AND sysdate < OPEN_DATE
            AND P.DELETED = 0
        ORDER BY PULLED_DATE DESC
        ]]>
    </select>

    <insert id="save" parameterType="popupSaveMapperRequest">
        INSERT INTO POPUP(TITLE, DESCRIPTION, WITHDRAWAL_STATUS, PLAN_ID)
        VALUES (#{title}, #{description}, #{withdrawalStatus}, #{planId})
        <selectKey keyProperty="popupId" resultType="long" order="AFTER">
            SELECT NVL(MAX(ID), 0)
            FROM POPUP
        </selectKey>
    </insert>

    <delete id="deleteAll">
        DELETE
        FROM POPUP
    </delete>

</mapper>
