<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <!-- @author 김유빈 -->
    <!-- @since 2024.02.13 -->

    <!-- SqlSessionTemplate 관련 설정 -->
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 별칭 작성 부분 -->
    <typeAliases>

        <!-- domain -->
        <typeAlias alias="LocalDate" type="java.time.LocalDate"/>


        <!-- community -->

        <!-- global -->

        <!-- popup -->
        <typeAlias type="com.oya.kr.popup.domain.enums.Category" alias="category"/>

        <!-- user -->


        <!-- mapper request -->

        <!-- community -->
        <typeAlias type="com.oya.kr.community.mapper.dto.request.SaveBasicMapperRequest" alias="saveBasicMapperRequest"/>
        <typeAlias type="com.oya.kr.community.mapper.dto.request.SaveVoteMapperRequest" alias="saveVoteMapperRequest"/>
        <typeAlias type="com.oya.kr.community.mapper.dto.request.VoteCheckMapperRequest" alias="voteCheckMapperRequest"/>
        <typeAlias type="com.oya.kr.community.mapper.dto.request.ReadCommunityMapperRequest" alias="readCommunityMapperRequest"/>
        <typeAlias type="com.oya.kr.community.mapper.dto.request.CollectionMapperRequest" alias="collectionMapperRequest"/>
        <typeAlias type="com.oya.kr.community.mapper.dto.request.ReadCollectionsMapperRequest" alias="readCollectionsMapperRequest"/>
        <typeAlias type="com.oya.kr.community.mapper.dto.request.CollectionMapperRequest" alias="collectionMapperRequest"/>

        <!-- global -->

        <!-- popup -->
        <typeAlias type="com.oya.kr.popup.mapper.dto.request.CategoryMapperRequest" alias="categoryRequest"/>
        <typeAlias type="com.oya.kr.popup.mapper.dto.request.PlanSaveMapperRequest" alias="planSaveMapperRequest"/>
        <typeAlias type="com.oya.kr.popup.mapper.dto.request.PlanUpdateEntranceStatusMapperRequest" alias="planUpdateEntranceStatusMapperRequest"/>
        <typeAlias type="com.oya.kr.popup.mapper.dto.request.PopupSaveMapperRequest" alias="popupSaveMapperRequest"/>
        <typeAlias type="com.oya.kr.popup.mapper.dto.request.PopupImageSaveMapperRequest" alias="popupImageSaveMapperRequest"/>
        <typeAlias type="com.oya.kr.popup.mapper.dto.request.PopupSearchMapperRequest" alias="popupSearchRequest"/>
        <typeAlias type="com.oya.kr.popup.mapper.dto.request.PopupViewCreateOrUpdateMapperRequest" alias="popupViewCreateOrUpdateMapperRequest"/>
        <typeAlias type="com.oya.kr.popup.mapper.dto.request.PopupCollectionMapperRequest" alias="popupCollectionMapperRequest"/>
        <typeAlias type="com.oya.kr.popup.mapper.dto.request.PopupCollectionSaveMapperRequest" alias="popupCollectionSaveMapperRequest"/>
        <typeAlias type="com.oya.kr.popup.mapper.dto.request.PopupDetailMapperRequest" alias="popupDetailMapperRequest"/>

        <!-- user -->
        <typeAlias type="com.oya.kr.user.mapper.dto.request.SignupAdministratorMapperRequest" alias="SignupUserRequest"/>
        <typeAlias type="com.oya.kr.user.mapper.dto.request.SignupBasicMapperRequest" alias="signupBasicMapperRequest"/>


        <!-- mapper response -->


        <!-- community -->
        <typeAlias type="com.oya.kr.community.mapper.dto.response.CommunityBasicMapperResponse" alias="communityBasicMapperResponse"/>
        <typeAlias type="com.oya.kr.community.controller.dto.response.VoteResponse" alias="voteResponse"/>
        <typeAlias type="com.oya.kr.community.mapper.dto.response.StatisticsResponseMapper" alias="statisticsResponseMapper"/>

        <!-- popup -->
        <typeAlias type="com.oya.kr.popup.mapper.dto.response.CategoryMapperResponse" alias="categoryMapperResponse"/>
        <typeAlias type="com.oya.kr.popup.mapper.dto.response.PlanMapperResponse" alias="planMapperResponse"/>
        <typeAlias type="com.oya.kr.popup.mapper.dto.response.PopupMapperResponse" alias="popupMapperResponse"/>
        <typeAlias type="com.oya.kr.popup.mapper.dto.response.PopupDetailMapperResponse" alias="popupDetailMapperResponse"/>
        <typeAlias type="com.oya.kr.popup.mapper.dto.response.PopupCollectionMapperResponse" alias="popupCollectionMapperResponse"/>

        <!-- user -->
        <typeAlias type="com.oya.kr.user.mapper.dto.response.UserMapperResponse" alias="userMapperResponse"/>

    </typeAliases>
</configuration>
