<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oya.kr.user.mapper.UserMapper">

    <insert id="insertUser" parameterType="SignupUserRequest">
        {call create_user_and_business(
                #{nickname, mode=IN, jdbcType=VARCHAR},
                #{email, mode=IN, jdbcType=VARCHAR},
                #{password, mode=IN, jdbcType=VARCHAR},
                TO_DATE('${birthDate}', 'YYYY-MM-DD'),
                #{gender, mode=IN, jdbcType=VARCHAR},
                #{registrationType, mode=IN, jdbcType=VARCHAR},
                #{userType, mode=IN, jdbcType=VARCHAR},
                #{businessRegistrationNumber, mode=IN, jdbcType=VARCHAR},
                #{profileUrl, mode=IN, jdbcType=VARCHAR},
                #{nameOfCompany, mode=IN, jdbcType=VARCHAR},
                #{nameOfRepresentative, mode=IN, jdbcType=VARCHAR},
                TO_DATE('${dateOfBusinessCommencement}', 'YYYY-MM-DD'),
                #{businessItem, mode=IN, jdbcType=VARCHAR},
                #{connectedNumber, mode=IN, jdbcType=VARCHAR},
                #{faxNumber, mode=IN, jdbcType=VARCHAR},
                #{zipCode, mode=IN, jdbcType=VARCHAR},
                #{businessAddress, mode=IN, jdbcType=VARCHAR}
              )}
    </insert>

    <insert id="insertKakaoUser" parameterType="signupKakaoRequest">
        INSERT INTO USERS (NICKNAME, EMAIL, PROFILE_URL, REGISTRATION_TYPE, USER_TYPE)
        VALUES (#{nickname}, #{email}, #{profileUrl}, #{registrationType}, #{userType})
    </insert>

    <select id="duplicatedEmail" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM USERS
        WHERE EMAIL = #{email}
    </select>

    <select id="duplicatedNickname" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM USERS
        WHERE NICKNAME = #{email}
    </select>

    <select id="findByEmail" resultType="userMapperResponse">
        SELECT ID,
               NICKNAME,
               EMAIL,
               PASSWORD,
               BIRTH_DATE,
               GENDER,
               REGISTRATION_TYPE,
               USER_TYPE,
               BUSINESS_REGISTRATION_NUMBER,
               PROFILE_URL,
               CREATED_DATE,
               MODIFIED_DATE,
               DELETED
        FROM USERS
        WHERE EMAIL = #{email}
    </select>

</mapper>
